<!DOCTYPE html>
<html>
<head>
  <title>Watering Schedule</title>
</head>

<body>
    <h1><strong>Watering Schedule</strong>
      <form action="/schedule_watering.html">
        <input type="submit" value="Add"/>
      </form>
      <form action="/cgi-bin/remove_all.py">
        <input type="submit" value="Clear schedule"/>
      </form>
    </h1>
    <table border="1px solid black">
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        {% for day in days %}
        <td>
          <table border="1px solid black">
            <tr>
              <td>Time</td>
              <td>Duration</td>
              <td>Action</td>
            </tr>
            {% for watering in waterings[day] %}
              <tr>
                <td>{{ watering["hour"] }}:{{ watering["minute"] }} {{ watering["period"] }}</td>
                <td>{{ watering["duration"] }}</td>
                <td>
                  <form action="/cgi-bin/remove_watering.py">
                    <button type="submit" name="watering" value="{{ watering["id"] }}"/>Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
        {% endfor %}
        </td>
      </tr>
    </table>
</body>
</html>
