<!DOCTYPE html>
<html>
<head>
  <title>Watering Schedule</title>
</head>

<body>
    <h1><strong>Watering Schedule</strong></h1>
    <table border="1px solid black">
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        {% for day in ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %}
        <td>
          <table border="1px solid black">
            <tr>
              <td>Time</td>
              <td>Duration</td>
              <td>Action</td>
            </tr>
            {% for watering in waterings[day] %}
              <tr>
                <td>{{ watering["hour"] }}:{{ watering["minute"] }} {{ watering["period"] }}</td>
                <td>{{ watering["duration"] }}</td>
                <td>
                  <form action="cgi-bin/remove_watering.py">
                    <input type="submit" value="Remove" name="watering" value="{{ watering["id"] }}"/>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
        {% endfor %}
        </td>
      </tr>
    </table>
</body>
</html>
